body {
  background-color: #cccc;
  margin: 0;
  box-sizing: border-box;
}

button {
  width: 100px;
}

video {
  border: 4px solid black;
}

h3 {
  margin-bottom: 5px;
  margin-left: 15px;
  padding-bottom: 0;
}

p {
  margin: 5px auto;
}

ul {
  margin-top: 0;
  list-style-type: none;
}

.title {
  text-align: center;
  margin: 10px auto;
}

.text-center {
  text-align: center;
}

.full-body {
  width: 100vw;
  height: 100vh;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-content: start;
  align-items: flex-start;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  
}

.controls {
  border: 2px solid black;
}

#video-container {
  width: 640px;
  height: fit-content;
}

#status-container {
  width: 800px;
  margin-left: 40px;
}

#controls-container {
  width: fit-content;
  height: fit-content;
  margin: auto;
  text-align: center;
  border: 1px dotted black;
  margin: 10px auto;
  padding: 20px;
}