{
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "jsxSingleQuote": true,
  "printWidth": 180,
  "semi": false,
  "singleAttributePerLine": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false
}