.flex-container {
  display: flex;
  width: 99vw;
  height: 99vh;
}

.main-container {
  width: fit-content;
  margin: auto;
}

.video-container {
  width: 600px;
  height: 360px;
  margin: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stats-column {
  width: 300px;
}